<!doctype html>
<html>
    <head>
        <% include partials/head %>
    </head>

    <body>
        <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">

                <h1>Air Quality Analysis Project</h1>

                <hr/>

                <h2>Analysis Completed!</h2>
                <h3>Files saved to \Downloads\outputs</h3>
                <h3>Files analyzed: data.csv</h3>

                <hr/>

                <button type="button" class="btn btn-primary" style="float: right;" id="startOver">Start Over</button>
            </div>
        </div>
        </div>
        <% include partials/scripts %>
        <script type="text/javascript">

            $('#startOver').click(function () {
                window.location.href = "../views/index.ejs";
            });
        </script>
    </body>
</html>